body{
    background-color: #ebebeb;
  }
  
  .heading {
    background-color: #333333;
    margin-bottom: 10px;
    padding: 10px;
  
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  .title {
    background-color: #333333;
    padding: 5px;
    color: white;

  }
  .content {
    color: #fafafa;
    margin-left: 100px;

  }
  
  #subtitle {
    color: white;
    margin-left: 200px;
  }
  
  #showing {
    margin-left: 20px;
  }
  
  #food li::before {
    content: "";
  }
  
  .food {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .sold-out {
    color: lightgray;
  }
  
  img {
    max-width: 25vw;
  }
  
  #food-info {
    color: #3e8fde;
    padding-bottom: 15px;
  }
  #place-order{
    justify-content: center;
    display: flex;
    /* background-color: chartreuse; */
  }
  .container{
  display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    /* margin: auto; */
    font-size: 20px;
    /* flex: 2;
    width: 100%;
    padding: 20px; */
  }
/* .button{
    background-color: orange;
} */
.list-card{
  display: flex;
justify-content: space-around;
}
.food-item{
  background-color: aquamarine;
  padding: 8px;
  margin-bottom: 2px;
  list-style-type: none;
  cursor: pointer;
}

.food-sec-image {
  padding: 1em;

}
.food-sec-image img {
  /* max-width: 100%; */
  height: 50vh;

}
#place-order{
  background-color: orangered;
}
#start{
  background-color:#ed661f;
  color: #fafafa;
  padding: 20px ;
  border-radius: 5x;
  border: none;
  margin-left: 80px;
}
.logins{
  margin-left: 60%;
  /* background-color: red; */
}